<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>



  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name  %>

      <%= f.submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "log in !", signup_path %></p>
  </div>
